[submodule "SchedEye"]
	path = SchedEye
	url = https://github.com/AhmedOzdogan/SchedEye
[submodule "fullstack-capstone-project"]
	path = fullstack-capstone-project
	url = https://github.com/AhmedOzdogan/fullstack-capstone-project
