html,
body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* This grows to fill space and push footer down */
.page-content {
    flex: 1 0 auto;
}

/* Footer won't shrink upward */
.site-footer {
    flex-shrink: 0;
}