<!-- templates/main/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Restaurant{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'main/css/header.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/footer.css' %}">
  <script src="{% static 'main/js/header.js' %}" defer></script>
  {% block extra_head %}{% endblock %}
</head>

<body>

  {% include "main/header.html" %}

  {% block content %}
  {% endblock %}

  {% include "main/footer.html" %}

  {% block extra_js %}
  {% endblock %}
</body>
</html>