{% load static %}
<header class="header">
  <nav class="navbar">
    <div class="logo-container">
      <img
        class="logo"
        src="{% static 'img/icon-smaller.png' %}"
        alt="Logo of Ahmed Özdoğan"
      />
      <div class="name-list">
        <a href="{% url 'main:index' %}">
          <strong>Ahmed Özdoğan</strong> / Full-Stack Developer
        </a>
      </div>
    </div>

    <!-- Mobile toggle button -->
    <button
      class="menu-btn"
      aria-label="Toggle menu"
      aria-controls="nav-menu"
      aria-expanded="false"
    >
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>

    <ul class="nav-list" id="nav-menu">
      <li>
        <a href="{% url 'main:index' %}" {% if request.resolver_match.url_name == 'index' %} aria-current="page"{% endif %}>
          About Me
        </a>
      </li>
      <li>
        <a href="{% url 'main:resume' %}" {% if request.resolver_match.url_name == 'resume' %} aria-current="page"{% endif %}>
          Resume
        </a>
      </li>
      <li>
        <a href="{% url 'main:projects' %}" {% if request.resolver_match.url_name == 'projects' %} aria-current="page"{% endif %}>
          Projects
        </a>
      </li>
      <li>
        <a href="{% url 'main:contact' %}" {% if request.resolver_match.url_name == 'contact' %} aria-current="page"{% endif %}>
          Contact
        </a>
      </li>
    </ul>
  </nav>
</header>
